# Node.js / NPM
node_modules/
package-lock.json
npm-debug.log*
logs
*.log
yarn-error.log*

# PNPM
.pnpm-store
.pnp
pnpm-debug.log*

# Build output
.nuxt
dist
.cache

# Coverage
coverage
.nyc_output

# Environment
.env
.env.*

# IDE / Editor
.idea
.vscode

# OS files
.DS_Store
Thumbs.db

# Misc
*.tgz
sw.*
*.swp

# Personal files
.old/